<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>AvenirNextCyr-Bold.ttf</string>
		<string>AvenirNextCyr-BoldItalic.ttf</string>
		<string>AvenirNextCyr-Demi.ttf</string>
		<string>AvenirNextCyr-DemiItalic.ttf</string>
		<string>AvenirNextCyr-Heavy.ttf</string>
		<string>AvenirNextCyr-HeavyItalic.ttf</string>
		<string>AvenirNextCyr-Italic.ttf</string>
		<string>AvenirNextCyr-Light.ttf</string>
		<string>AvenirNextCyr-LightItalic.ttf</string>
		<string>AvenirNextCyr-Medium.ttf</string>
		<string>AvenirNextCyr-MediumItalic.ttf</string>
		<string>AvenirNextCyr-Regular.ttf</string>
		<string>AvenirNextCyr-Thin.ttf</string>
		<string>AvenirNextCyr-ThinItalic.ttf</string>
		<string>AvenirNextCyr-UltraLight.ttf</string>
		<string>AvenirNextCyr-UltraLightIt.ttf</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Chatty Cathy</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
